/* stylelint-disable declaration-no-important */
@import "@dynamic-framework/ui-react/src/style/abstracts/+import";
@import "./loadingCircle";

.account-details,
.d-portal {
  .nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .nav::-webkit-scrollbar {
    display: none;
  }

  .selected-account-name-loader {
    @include rfs($h4-font-size, --#{$prefix}account-name-loader-height);

    svg {
      height: calc(var(--#{$prefix}account-name-loader-height) * var(--#{$prefix}body-line-height));
    }
  }

  .account-selector {
    .d-popover-content {
      z-index: 10;
    }
  }

  .activity-name::first-letter,
  .transaction-name::first-letter {
    text-transform: capitalize;
  }

  .custom-details {
    padding: var(--#{$prefix}ref-spacer-3);
  }

  .drop-account {
    background-color: var(--#{$prefix}white);
    border: 1px solid var(--#{$prefix}gray-100);
    [role="button"] {
      outline: 0;
    }

    .selected {
      position: relative;
    }
  }

  .card-freeze {
    opacity: .5;
  }

  .no-info {
    --bs-d-credit-card-logo-size: 35%;
    height: 40px;
    padding: .75rem;
    border-radius: .5rem !important;
    .d-credit-card-chip,
    .d-credit-card-details {
      display: none !important;
    }
    .d-credit-card-header {
      min-height: 0 !important;
    }
  }


}
