@import "@dynamic-framework/ui-react/src/style/abstracts/+import";
@import "./loadingCircle";

.account-details,
.d-portal {
  .selected-account button {
    --#{$prefix}quick-action-button-padding: var(--#{$prefix}ref-spacer-3) var(--#{$prefix}ref-spacer-4);
  }

  .selected-account-name-loader {
    @include rfs($h4-font-size, --#{$prefix}account-name-loader-height);

    svg {
      height: calc(var(--#{$prefix}account-name-loader-height) * var(--#{$prefix}body-line-height));
    }
  }

  .account-selector {
    .d-popover-content {
      z-index: 10;
    }
  }

  .activity-name::first-letter,
  .transaction-name::first-letter {
    text-transform: capitalize;
  }

  .offcanvas {
    --#{$prefix}offcanvas-width: 100%;

    @include media-breakpoint-up(md) {
      --#{$prefix}offcanvas-width: 45%;
    }
  }

  .btn-filters .btn {
    --#{$prefix}btn-padding-x: var(--#{$prefix}ref-fs-6);
  }

  .custom-details {
    padding: var(--#{$prefix}ref-spacer-3);
  }

  .drop-account {
    background-color: var(--#{$prefix}white);
    border: 1px solid var(--#{$prefix}gray-300);

    .d-quick-action-button {
      --#{$prefix}quick-action-button-component-border-radius: 0;
      --#{$prefix}quick-action-button-border: 0;
      --#{$prefix}quick-action-button-box-shadow: 0;

      position: relative;
      overflow: hidden;
    }

    d-quick-action-button:not(:last-child) .d-quick-action-button {
      --#{$prefix}quick-action-button-border-bottom: 1px solid var(--#{$prefix}gray-300);

      &:active {
        border-color: var(--#{$prefix}gray-300);
      }
    }

    .selected {
      position: relative;

      .d-quick-action-button {
        background-color: rgba(var(--#{$prefix}gray-200-rgb), .5);
      }
    }
  }

  .account-card {
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    aspect-ratio: 16/9;
    padding: var(--#{$prefix}ref-spacer-6);
    color: var(--#{$prefix}white);
    background-color: var(--#{$prefix}gray);
    border-radius: var(--#{$prefix}ref-spacer-3);

    .account-card-number {
      font-family: monospace, sans-serif;
    }
  }

  .badge-card {
    --#{$prefix}badge-font-size: var(--#{$prefix}fs-small);
  }

  .d-carousel {
    --bs-carousel-pagination-bottom: calc(var(--#{$prefix}ref-spacer-5) * -1);
  }

  // Theme colors for saving slides

  .d-carousel .d-carousel-slide:nth-child(3n-2) .saving,
  .account-card.saving {
    background-color: var(--#{$prefix}warning);
  }

  .d-carousel .d-carousel-slide:nth-child(3n-1) .saving {
    background-color: var(--#{$prefix}danger-300);
  }

  .d-carousel .d-carousel-slide:nth-child(3n) .saving {
    background-color: var(--#{$prefix}info);
  }

  // Theme colors for checking slides

  .d-carousel .d-carousel-slide:nth-child(3n-2) .checking,
  .account-card.checking {
    background-color: var(--#{$prefix}success);
  }

  .d-carousel .d-carousel-slide:nth-child(3n-1) .checking {
    background-color: var(--#{$prefix}danger);
  }

  .d-carousel .d-carousel-slide:nth-child(3n) .checking {
    background-color: var(--#{$prefix}indigo);
  }

  // Theme colors for credit-card slides

  .d-carousel .d-carousel-slide:nth-child(3n-2) .credit-card,
  .account-card.credit-card {
    background: linear-gradient(90deg, rgba(254, 111, 45, 1) 0%, rgba(253, 206, 56, 1) 100%);
  }

  .d-carousel .d-carousel-slide:nth-child(3n-1) .credit-card {
    background: linear-gradient(90deg, rgba(205, 18, 37, 1) 0%, rgba(136, 93, 245, 1) 100%);
  }

  .d-carousel .d-carousel-slide:nth-child(3n) .credit-card {
    background: linear-gradient(90deg, rgba(66, 133, 244, 1) 0%, rgba(52, 168, 83, 1) 100%);
  }

  .list-group {
    --#{$prefix}list-group-action-hover-bg: transparent;
    --#{$prefix}list-group-action-active-bg: transparent;
  }

  .account-freeze {
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      inset: -1.5rem;
      z-index: 1;
      display: block;
      content: "";
      background: url("https://cdn.modyo.cloud/uploads/d561a086-e516-423d-9b58-e9cf3ea223bc/original/ice-rectangle_1_.png") no-repeat;
      background-size: cover;
      opacity: .4;
    }

    > * {
      position: relative;
      z-index: 2;
    }
  }
}
