@import "~@dynamic-framework/ui-react/src/style/abstracts/+import";

body {
  background-color: var(--#{$prefix}light);
}

.selected-account button {
  --#{$prefix}m-quick-action-button-padding: 16px 24px;
}

.account-selector {
  .m-popover-content {
    z-index: 10;
  }
}

p.transaction-name::first-letter {
  text-transform: capitalize;
}

.offcanvas {
  --#{$prefix}offcanvas-width: 100%;
}

@media screen and (min-width: 768px) {
  .offcanvas {
    --#{$prefix}offcanvas-width: 50%;
  }
}

.modal-detail-transaction {
  .modal {
    --#{$prefix}modal-header-padding: 2rem 1.5rem 0;

    .m-modal-slot.modal-body {
      padding: 0 1.875rem 3rem;

      .transaction-name::first-letter {
        text-transform: capitalize;
      }
    }
  }
}

.btn-filters .m-button {
  --#{$prefix}btn-padding-x: #{$h6-font-size};
}

.custom-details {
  --#{$prefix}bg-opacity: .3;
  position: sticky;
  top: 1rem;
}

.drop-account {
  background-color: var(--#{$prefix}white);
  border: 1px solid var(--#{$prefix}gray-300);

  .m-quick-action-button {
    overflow: hidden;
    position: relative;
    --#{$prefix}m-quick-action-button-component-border-radius: 0;
    --#{$prefix}m-quick-action-button-border: 0;
    --#{$prefix}m-quick-action-button-box-shadow: 0;
  }

  m-quick-action-button:not(:last-child) .m-quick-action-button {
    --#{$prefix}m-quick-action-button-border-bottom: 1px solid var(--#{$prefix}gray-300);
  }

  .selected {

    // Only for support
    .m-quick-action-button {
      &::after {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50rem;
        position: absolute;
        background-color: var(--#{$prefix}info);
        top: calc(50% - 2.5px);
        right: 1rem;
      }
    }
  }
}

.account-card {
  width: 100%;
  aspect-ratio: 16/10;
  display: grid;
  grid-template-rows: repeat(1fr);
  padding: var(--#{$prefix}ref-spacer-4);
  border-radius: var(--#{$prefix}ref-spacer-3);
  row-gap: var(--#{$prefix}ref-spacer-1);
  color: var(--#{$prefix}white);
  background-color: var(--#{$prefix}gray);

  &.credit-card {
    background: rgb(205, 18, 37);
    background: -moz-linear-gradient(90deg, rgba(205, 18, 37, 1) 0%, rgba(136, 93, 245, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(205, 18, 37, 1) 0%, rgba(136, 93, 245, 1) 100%);
    background: linear-gradient(90deg, rgba(205, 18, 37, 1) 0%, rgba(136, 93, 245, 1) 100%);
  }

  &.saving {
    background-color: var(--#{$prefix}danger-300);
  }

  &.checking {
    background-color: var(--#{$prefix}danger);
  }

  >* {
    display: flex;
    align-items: center;
  }

  .account-card-number {
    font-family: Helvetica, sans-serif;
    font-size: var(--#{$prefix}ref-fs-5);
  }

  .account-card-details .name {
    font-weight: var(--#{$prefix}ref-fw-bold);
    font-size: var(--#{$prefix}ref-fs-6);
  }

  .account-card-details .date {
    font-size: var(--#{$prefix}ref-fs-6);
  }
}

@media (426px <= width <= 992px) {
  .account-card {
    aspect-ratio: 16/5;
  }
}